aiohttp==3.6.3
aioredis==1.3.1
aniso8601==8.1.0
anyio==3.1.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.3.1
astroid==2.4.2
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
autopep8==1.5.4
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
BingTranslator==0.1
black==20.8b1
bleach==3.3.0
blinker==1.5
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
Click==7.0
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
deep-translator==1.4.4
defusedxml==0.7.1
discord==1.0.1
discord.py==1.5.1
distlib==0.3.1
Django==3.1.5
django-widget-tweaks==1.4.8
docopt==0.6.2
emoji==0.6.0
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-MySQLdb==1.0.1
Flask-RESTful==0.3.8
form==0.0.1
future==0.18.2
google-trans-new==1.1.9
googletrans==3.1.0a0
h11==0.9.0
h2==3.2.0
hiredis==1.1.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
ipykernel==5.3.4
ipynb-py-convert==0.4.6
ipynb2py==0.2
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.6.4
itsdangerous==1.1.0
j2p==0.0.2
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.1
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.4.0
jupyter-core==4.6.3
jupyter-server==1.8.0
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==2.0.1
matplotlib==3.3.4
mccabe==0.6.1
mistune==0.8.4
motor==2.3.0
multidict==4.7.6
mypy-extensions==0.4.3
mysqlclient==2.1.1
nbclassic==0.3.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
numpy==1.19.5
openpyxl==3.0.6
p2j==1.3.2
packaging==20.9
pandas==1.2.1
pandocfilters==1.4.3
parso==0.7.1
pathspec==0.8.1
pickleshare==0.7.5
Pillow==8.1.2
pipreqs==0.4.11
progressbar2==3.53.1
prometheus-client==0.10.1
prompt-toolkit==3.0.8
psutil==5.8.0
py==1.10.0
py-translate==1.0.3
pychrome==0.2.3
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.2
pylint==2.6.0
pymongo==3.11.2
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.15.0
python-utils==2.5.1
pytz==2020.5
pywin32==228
pywinpty==1.1.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==5.1.0
QtPy==1.9.0
regex==2020.11.13
requests==2.24.0
rfc3986==1.4.0
scikit-learn==0.24.1
scipy==1.6.2
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.2.1
sqlparse==0.4.1
terminado==0.10.0
testpath==0.5.0
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tox==1.6.0
traitlets==5.0.5
typed-ast==1.4.2
typing-extensions==3.7.4.3
uiautomator==1.0.2
urllib3==1.25.11
virtualenv==20.4.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.12.1
ws4py==0.5.1
xlrd==2.0.1
XlsxWriter==3.0.3
yarg==0.1.9
yarl==1.5.1
